body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.scrolly {
  display: flex;
  max-width: 900px;
  margin: auto;
}

.graphic {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 50%;
  background: #111;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

#graphic-content {
  font-size: 2rem;
}

.text {
  width: 50%;
  padding: 2rem;
}

.step {
  margin-bottom: 80vh;
  padding: 1rem;
  background: #eee;
  border-left: 4px solid #ccc;
}
